.beleza-fantastica {
  @extend .col-12;
  padding: 0;
  padding-top: 2rem;

  &__titulo {
    @extend .col-12;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;

    h2 {
      color: $dark-blue;
      text-transform: uppercase;
      font-size: 1em;
      margin: 0;
    }

    p {
      color: $purple;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.1em;
    }

    @media (min-width: map-get($grid-breakpoints, sm)) {
      h2 {
        font-size: 1.5em;
      }

      p {
        font-size: 2em;
      }
    }
  }

  &__conteudo {
    @extend .col-12;

    .beleza-fantastica__item {
      @extend .col-12;
      padding: 0;
      margin-bottom: 3rem;

      &-foto {
        position: relative;
        @extend .col-12;
        padding: 0;
        height: 200px;
        overflow: hidden;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: auto;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }

      &-infos {
        @extend .col-12;
        padding: 0;
        padding-top: 2rem;

        span {
          width: 100%;
        }

        .titulo-destaque {
          @extend .col-12;
          padding: 0;

          h3 {
            text-transform: uppercase;
            font-weight: bold;
            color: $dark-blue;
            position: relative;
            font-size: 1.3em;
          }

          span {
            color: $dark-blue;
            position: absolute;
            top: -12px;
            left: -4px;
            font-size: 1.8em;
            opacity: 0.1;
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        ul {
          padding-left: 14px;
          li {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: $gray;
            &:before {
              content: "•";
              color: $purple;
              font-size: 1.6em;
              margin-right: 5px;
            }
          }
        }
        a {
          margin-left: 14px;
          background: $purple;
          color: $white;
          font-weight: 900;
          padding: 10px 30px;
          border-radius: 25px;
          text-transform: uppercase;
          text-decoration: none;
          transition: 0.2s;
          border: 2px solid transparent;
          &:hover {
            color: $purple;
            border: 2px solid $purple;
            background: transparent;
          }
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    &__conteudo {
      .beleza-fantastica__item {
        &-foto {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    &__conteudo {
      padding: 0;

      .beleza-fantastica__item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0rem;

        &:nth-child(even) {
          .beleza-fantastica__item-foto {
            order: 1;
          }

          .beleza-fantastica__item-infos {
            order: 0;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            padding-left: percentage(0/12);
            padding-right: percentage(1/12);

            ul {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              align-items: flex-end;
            }
          }
        }

        &-foto {
          @include make-col(6);
          height: auto;
          img {
            width: auto;
            height: 100%;
          }
        }

        &-infos {
          @include make-col(6);
          padding-left: percentage(1/12);
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    &__conteudo {
      .beleza-fantastica__item {
        &-foto {
          @include make-col(6);
          height: auto;
          img {
            width: auto;
            height: 100%;
          }
        }

        &-infos {
          @include make-col(6);
          padding-left: percentage(0.5/12);
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    &__conteudo {
      .beleza-fantastica__item {
        &-foto {
          @include make-col(6);
          height: auto;
          img {
            width: 100%;
            height: auto;
          }
        }

        &-infos {
          @include make-col(6);
          padding-left: percentage(0.5/12);
          padding-top: 3rem;
          padding-bottom: 3rem;
        }
      }
    }
  }
}
