.faq {
  @extend .col-12;
  padding: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__conteudo {
    @extend .col-12;
    padding: 0;
  }

  .accordion-container {
    @extend .col-12;
    padding: 0;
    position: relative;
    height: auto;
    margin: 10px auto;
  }

  .set {
    position: relative;
    padding: 0;
    height: auto;
    border: 1px solid $purple;
    margin-bottom: 1rem;
    border-radius: 25px;
  }
  .set > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: $purple;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-transform: uppercase;
    outline: 0;
  }
  .set > a i {
    float: right;
    margin-top: 2px;
  }
  .set > a.active {
    background-color: $purple;
    color: #fff;
    border-radius: 25px 25px 0 0;
  }
  .content {
    background-color: #fff;
    display: none;
    padding: 0;
    border-radius: 0 0 25px 25px;
  }
  .content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
  }
}
