.momento-unico {
  @extend .col-12;
  padding: 0;

  &__foto {
    position: relative;
    @extend .col-12;
    padding: 0;
    height: 209px;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: auto;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  &__conteudo {
    @extend .col-12;
    padding-top: 2rem;
    padding-bottom: 2rem;
    h2 {
      font-size: 1em;
      text-transform: uppercase;
      color: $dark-blue;
      margin-bottom: 2rem;

      strong {
        font-size: 1.2em;
        color: $purple;
      }

      span {
        color: $purple;
      }
    }

    .item-infos {
      @extend .col-12;
      padding: 0;
      span {
        width: 100%;
      }

      .titulo-destaque {
        @extend .col-12;
        padding: 0;

        h3 {
          text-transform: uppercase;
          font-weight: bold;
          color: $dark-blue;
          position: relative;
          font-size: 1.3em;
        }

        span {
          color: $dark-blue;
          position: absolute;
          top: -12px;
          left: -4px;
          font-size: 1.8em;
          opacity: 0.1;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      ul {
        padding-left: 14px;
        li {
          display: flex;
          align-items: center;
          font-weight: bold;
          color: $gray;
          &:before {
            content: "•";
            color: $purple;
            font-size: 1.6em;
            margin-right: 5px;
          }
        }
      }
      a {
        margin-left: 14px;
        background: $purple;
        color: $white;
        font-weight: 900;
        padding: 10px 30px;
        border-radius: 25px;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.2s;
        border: 2px solid transparent;
        &:hover {
          color: $purple;
          border: 2px solid $purple;
          background: transparent;
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    &__foto {
      height: 364px;
    }

    &__conteudo {
      h2 {
        font-size: 1.3em;
      }

      .item-infos .titulo-destaque span {
        top: -17px;
        font-size: 2.4em;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    &__foto {
      height: 407px;
      @include make-col(6);

      img {
        width: auto;
        height: 100%;
      }
    }

    &__conteudo {
      @include make-col(6);
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .item-infos .titulo-destaque span {
        font-size: 2em;
        top: -13px;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    &__foto {
      height: 407px;
      @include make-col(6);

      img {
        width: auto;
        height: 100%;
      }
    }

    &__conteudo {
      @include make-col(6);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-left: percentage(1/12);

      h2 {
        font-size: 1.5em;
      }

      .item-infos .titulo-destaque span {
        font-size: 2.3em;
        top: -13px;
      }
    }
  }

  @media (min-width: 81.25em) {
    &__foto {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  @media (min-width: 93.75em) {
    &__foto {
      height: 473px;
    }

    .momento-unico__conteudo {
      padding-left: percentage(0.5/12);
    }
  }
}
