.page-contato {
  @extend .col-12;
  padding: 0;
  padding-top: 2rem;

  &__icones {
    @extend .col-12;
    padding: 0;
    margin-bottom: 4rem;

    .item-contato {
      @extend .col-12;
      text-align: center;
      padding: 0;
      padding-top: 1rem;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

      img {
        @extend .img-fluid;
        margin-bottom: 1rem;
      }

      p {
        margin: 0;
        text-transform: uppercase;
        font-weight: 900;
        color: $purple;
      }

      span {
        font-weight: bold;
        color: $dark-blue;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    &__icones {
      .item-contato {
        max-width: calc(33.33% - 10px);
        margin: 0 5px;

        span {
          font-size: 0.75em;
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    &__icones {
      .item-contato {
        max-width: calc(33.33% - 40px);
        margin: 0 20px;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    &__icones {
      .item-contato {
        span {
          font-size: 1em;
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    &__icones {
      .item-contato {
        max-width: calc(33.33% - 140px);
        margin: 0 70px;
      }
    }
  }
}
